<section class="container">
  <div class="card">
    <div *ngIf="userid == 0" class="login-container">
      <h1>Task Management System</h1>
      <br /><br />

      <div class="row">
        <div class="col-md-6">
          <label for="username">Username:</label>
          <input id="username" type="text" [(ngModel)]="username" class="form-control" />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <label for="password">Password:</label>
          <input id="password" type="password" [(ngModel)]="password" class="form-control" />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-md-6">
          <button (click)="login()" class="btn btn-primary">Login</button>
        </div>
        <br><br>
        <div class="col-md-6">
          <button  class="btn btn-secondary" routerLink="signup">SignUp</button>
        </div>
      </div>
    
    </div>

    <div *ngIf="userid > 0">
      <button (click)="logout()" class="btn btn-danger">logout</button> 
      <br><br>
      <button (click)="readAllTask()" class="btn btn-info">ReadAllTask</button>

      <table class="table">
        <thead>
          <tr>
            <th>Details</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of tasks">
            <td>{{ task.details }}</td>
            <td>
              <button (click)="delete(task.id)" class="btn btn-danger">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
      <br />


      <div class="row">
        <div class="col-md-6">
          Add New task <br />
          Details: <input type="text" [(ngModel)]="details" class="form-control" /><br />
        </div>
        <div class="col-md-6">
          <button (click)="addTask()" class="btn btn-success">Add Task</button>
        </div>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
